/*!***************************!*\
  !*** css ./src/light.css ***!
  \***************************/
:root {
    --text-colour: #cccccc;
}
/*!****************************************************************!*\
  !*** css ./src/dark.css (media: (prefers-color-scheme: dark)) ***!
  \****************************************************************/
@media (prefers-color-scheme: dark) {
	:root {
	    --text-colour: #000000;
	}}

/*!****************************!*\
  !*** css ./src/render.css ***!
  \****************************/

.text {
    color: var(--text-colour);
}
